In [2]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

In [4]:
import pandas as pd

In [10]:
filename="/content/drive/MyDrive/CODING DOJO/CÓDIGO/WEEK 2/PTCienciaDeDatos/PandasParaManipulaciónDeDatos/sales_predictions (1).csv"
df=pd.read_csv(filename)
df.head(100)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15         9.30  ...  Supermarket Type1          3735.1380
1            DRC01         5.92  ...  Supermarket Type2           443.4228
2            FDN15        17.50  ...  Supermarket Type1          2097.2700
3            FDX07        19.20  ...      Grocery Store           732.3800
4            NCD19         8.93  ...  Supermarket Type1           994.7052
..             ...          ...  ...                ...                ...
95           FDU04          NaN  ...      Grocery Store           487.3656
96           FDF41        12.15  ...  Supermarket Type1          1231.7300
97           FDB56         8.75  ...  Supermarket Type1          3755.1120
98           NCP18          NaN  ...  Supermarket Type3          4363.6532
99           FDB56         8.75  ...  Supermarket Type1          1314.2892

[100 rows x 12 columns]

In [7]:
df.shape

(8523, 12)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [43]:
df.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

In [15]:
mean_weight=df['Item_Weight'].mean()

12.857645184136183

In [59]:
df.loc[0:8523, ['Item_Weight']].fillna(df['Item_Weight'].mean()).head(100)

    Item_Weight
0      9.300000
1      5.920000
2     17.500000
3     19.200000
4      8.930000
..          ...
95    12.857645
96    12.150000
97     8.750000
98    12.857645
99     8.750000

[100 rows x 1 columns]

In [63]:
df.groupby(['Outlet_Size']).count()

             Item_Identifier  Item_Weight  ...  Outlet_Type  Item_Outlet_Sales
Outlet_Size                                ...
High                     932          932  ...          932                932
Medium                  2793         1858  ...         2793               2793
Small                   2388         1860  ...         2388               2388

[3 rows x 11 columns]